*{
    margin: 0;
    padding: 0;
}
.app-container {
  background: #fff;
  height: 100vh;
  box-sizing: border-box;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  display: none;
}
.app-container.active{
    display: block;
}
.app-container  .warpper {
    height: 100%;
    display: flex;
    box-sizing: border-box;
    padding-top: 30px;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    
  }
.app-container  .warpper .tip {
    font-size: 0.5625rem;
    color: #fff;
    margin-bottom: 1.25rem;
    height: 0.625rem;
}
.app-container  .warpper .photoBox {
    width:5.625rem;
    height:5.625rem;
    border-radius: 50%;
    border: 2px dashed red;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    
}
.app-container  .warpper .photoBox video,
.app-container  .warpper .photoBox canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
.app-container  .warpper .imgSrc{
    width: 6.25rem;
    height: auto;
}